html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);

	font-family: 'Noto Sans KR', sans-serif;
}


a {
	text-decoration: none;

	color: inherit;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.leaflet-control-container .leaflet-routing-container-hide {
	display: none;
  }

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--grey-light:#EBEBEB;
	--grey-dark: #787D85;
	--grey-main: #a0a7b3;
	--grey: #A4A4A4;
	--white: white;
	--primary: #1790FF;
	--primary-hover: #167cdb;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
}